@model Movie

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <div class="col-8 offset-3  border-primary">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                                <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Cinema: </b>
                            <a class="badge bg-success text-decoration-none" asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">@Model.Cinema?.Name</a>
                        </p>

                        <p class="card-text">
                            <b>Producer: </b>
                            <a class="badge bg-success text-decoration-none" asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">@Model.Producer.FullName</a>
                        </p>

                        <p class="card-text">
                            <b>Actors: </b>
                            
                            <div class="row">
                                @foreach (var actor in Model.Actor_Movies)
                                {
                                    <div class="column text-center">
                                        <img src="@actor.Actor?.ProfilePicture" class="border-info rounded-circle mb-1" style="max-width: 150px" />
                                        <br />
                                        <a class="badge bg-success text-decoration-none" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor?.FullName</a>
                                        <br/>
                                    </div>
                                }
                            </div>
                        </p>
                        <hr />
                        <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text d-flex justify-content-center">
                            <a class="btn btn-success text-white me-1  @((DateTime.Now > Model.EndDate) ? "disabled" : "")" asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))
                            </a>
                            <a class="btn btn-outline-primary float-right me-1 " asp-action="Index">
                                Back to list
                            </a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-danger float-right " asp-action="Delete" asp-route-id="@Model.Id">
                                    Delete Movie
                                </a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
